@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    
    <p class="p-1 h-1 w-1">Welcome to the IT Equipment Request Website. This Website allows users to View All or Avaliable IT equipment listings, or even allow users to </p>
</div>
